{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "last 2 versions"
                },
                "modules": false,
                "loose": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        // "transform-class-properties",
        // "react-hot-loader/babel"
    ]
    // "env": {
    //     "test": {
    //         "plugins": [
    //             "transform-es2015-modules-commonjs"
    //         ]
    //     }
    // }
}